body{
    font: 15px/1.5 sans-serif;
    padding: 0;
    background-color: #d1d0cc;
    
}

/*Global*/
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;  
}

ul{
    padding: 0
}

.button_1{
    height: 38px;
    background: #e8491d;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

/*Header*/
header{
    background:#000;
    color:#fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #fe0e4c 5px solid;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float:left;
    display: inline;
    padding: 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #ff7f23;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/*Showcase*/

#showcase{
    min-height: 400px;
    background-image: url(https://i.amz.mshcdn.com/rRxXhoIhNucutinAio8YRF4TvzE=/1200x630/2017%2F06%2F15%2F71%2Fc1a206081efd44d1b61f5c0f86dcda6c.c222e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
        
}

#showcase h1{
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 15px;
    
}

#newsletter{
    padding: 15px;
    color: #fff;
    background: #000;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px
}

#newsletter input[type ="email"]{
    padding: 4px;
    
}

/*boxes*/
#boxes{
    margin-top: 20px;
    
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center
}

.boxes .box+img{
    width: 90px;
    height: 20px;
    
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: red;
    text-align: center
}

@media screen and (max-width:768px){
    
    header #branding,
    header nav,
    header nav li, 
    #newsletter h1,
    #newsletter form{
        float: none;
        text-align: center;
        width: 100%
    }
    
    
    
    .box{
        max-width: 29%
    }
    
    #showcase h1{
        margin-top: 30px
    }
    
    @media screen and (max-width:426px){
        .box {
            max-width: 99px ;
            padding: 20px
            
        }
    }
    
    #newsletter h1{
        text-align: center
    }
    
}